*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    
    width: 90%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #000;
    margin: 2% auto;
    
}

.encabezado{
    width: 100%;
    height:20vh;
    
    
}

.encabezado p{
    font-size: 1em;
    color: #FFEA00;
    margin-top: 15px;
}

.datosbasicos{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: #232323;
    
}

.direccion{
    margin-left: 5%;
}

.social{
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    margin-right: 6%;
}

.fa-instagram, .fa-facebook, .fa-whatsapp{
    font-size: 2em;
    padding-left: 10%;
}

.logo{
    width: 100%;
    height: 10vh;
    display: flex;
    margin: 0 auto ;
    background: #FFEA00;
    position: relative;
    top: 0;
}

img{
    width: 80%;
    margin: 2% 0 0 20%;
}

.menu {
    width: 40%;
    height: 10vh;
    margin-left: 10%;
}

ul{ 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 40%;
    position: absolute;
    top: 30%;
    
}

li{
    list-style: none;
    width: 60%;
    padding-left: 25px;
    
}

li a{
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 1em;
    color: #232323;
    text-align: center;
    font-weight: bold;
    

}

.login{
    display: block;
    position: relative;
    top: 0;
    width: 10%;
    height: 9vh;
    background: #232323;
    border-radius: 8px;
    margin: 0.2% auto;
}

#cam{
    width: 100%;
    position: absolute;
    top: 2%;
    font-size: 1.3em;
    color: #FFEA00;
    text-align: center;
}

#vir{
    width: 100%;
    position: absolute;
    bottom: 2%;
    font-size: 1.3em;
    color: #FFEA00;
    text-align: center;
}

/*********************MAIN * CUERPO **********************/

main{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: -20%;
}

main img{
   position: absolute;
   top: -4%; 
   width: 100%;
   height: 70vh;
   object-fit:fill;
   opacity: 0.8;
   
}

.mensaje{
    width: 50%;
    position: absolute;
    top: 15%;
    left: 45%;
    font-size: 1.5em;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.mensaje h3{
    font-size: 0.8em;
    font-weight: normal;
}

.boton1{
    width: 70%;
    height: 5%;
    background: #FFEA00;
    border-radius: 12px;
    margin: 2% auto;
}

.boton1 p{
    color: #232323;
}